## Ejercicio 1

###### Realiza una variable con tu matricula y realiza una secuencia de imprimir con tu nombre y tu matricula concatenados.

In [1]:
matricula = 1742143
nombre = 'Luis Rodolfo Torres Contreras'

In [2]:
nombre + ', '+str(matricula)

'Luis Rodolfo Torres Contreras, 1742143'

## Ejercicio 2

###### Pidiendo el input del usuario pide dos números y crea una pequeña calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [3]:
num1 = int(input("Ingresa un numero: "))

Ingresa un numero: 2

In [4]:
num2 = int(input("Ingresa un numero: "))

Ingresa un numero: 1

In [5]:
exp2 = int(input("Ingresa un exponente: "))

Ingresa un exponente: 3

In [6]:
def suma(num1, num2):
    return num1+num2
def resta(num1,num2):
    return num1-num2
def multi(num1,num2):
    return num1*num2
def div(num1,num2):
    return num1/num2
def exp(num,exp):
    return num**exp

In [7]:
suma(num1,num2)

3

In [8]:
resta(num1,num2)

1

In [9]:
multi(num1,num2)

2

In [10]:
div(num1,num2)

2.0

In [11]:
exp(num1,exp2)

8

In [12]:
exp(num2,exp2)

1

## Ejercicio 3

###### Con loop while o for, realiza una lista de 10 numeros multiplos de 3, y después realiza una función de loop que sume todos los números dentro del arreglo.

In [90]:
lit = list()

In [91]:
for i in range(1,11):
    lit.append(i*3)

In [92]:
lit

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [93]:
lit
suma=0

In [94]:
for i in lit:
    suma +=i

In [95]:
suma

165

In [96]:
lit

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

## Ejercicio 4

### Par o Impar
* Con una función de if else, revisar si un número es par o es impar.
* Con una función de if else, revisar si un número es primo o no.

In [19]:
num = [1,2,3,4,5,6,7,8,9,10,11,12]

In [20]:
for i in num:
    if i%2==0:
        print("Par: ",i)
    else:
        print("Impar: ",i)

Impar:  1
Par:  2
Impar:  3
Par:  4
Impar:  5
Par:  6
Impar:  7
Par:  8
Impar:  9
Par:  10
Impar:  11
Par:  12

### Primo o No primo

In [21]:
num = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
def primo(num):
    if num < 1:
        return False
    elif num == 2:
        return True
    else:
        for i in range(2, num):
            if num % i == 0:
                return False
        return True

In [22]:
for i in num:
    b = primo(i)
    if(b ==True):
        print("Primo: ",i)

Primo:  1
Primo:  2
Primo:  3
Primo:  5
Primo:  7
Primo:  11
Primo:  13
Primo:  17
Primo:  19

## Ejercicio 5

* Utilizando diferentes clases en python, crea una calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [23]:
num = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

In [24]:
def suma(num):
    r = 0
    for i in num:
        r += i
    return r

In [25]:
suma(num)

210

In [26]:
def resta(num):
    r = 0
    for i in range(0,len(num)):
        if i != len(num)-1:
            if i == 0:
                r += num[i] - num[i+1]
            else:
                 r -= num[i+1]
    return r

In [27]:
resta([5,6,-48])

47

In [28]:
resta(num)

-208

In [29]:
def multi(num):
    r = 1
    for i in range(0,len(num)):
        if i != len(num):
            r *= num[i]
    return r

In [30]:
multi(num)

2432902008176640000

In [31]:
multi([2,2])

4

In [32]:
def exponente(num,exp):
    lis=list()
    for i in num:
        r=1
        for j in range(1,exp+1):
            r *= i
        
        lis.append(r)
    return lis

In [33]:
exponente([2,3,5],2)

[4, 9, 25]

In [34]:
exponente(num,2)

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400]

In [35]:
def div(num,divisor):
    lis = list()
    for i in num:
        lis.append(i/divisor)
    return lis

In [36]:
div([2,3],9)

[0.2222222222222222, 0.3333333333333333]

# Ejercicios con estructuras básicas de python.

### Tuplas

* Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es.

In [37]:
fl = 3.1416
type(fl)

float

In [38]:
integ = 5
type(integ)

int

In [39]:
bol = True
type(bol)

bool

In [40]:
compleja = 3 + 4j
type(compleja)

complex

* Crear una tupla con valores enteros imprimir el primer y ultimo valor.

In [41]:
tupla = (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)

In [42]:
tupla[0]

1

In [43]:
tupla[-1]

20

* Añadir 3 valores de string a la tupla.

In [44]:
lista = list(tupla)

In [45]:
lista.append("Hola")

In [46]:
lista.append(True)

In [47]:
tupla = tuple(lista)

In [48]:
tupla

(1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 'Hola',
 True)

* Verificar si una variable existe dentro de la tupla.

In [49]:
2 in tupla

True

In [50]:
'Hola' in tupla

True

### Listas

In [51]:
import random

In [52]:
lista =  [random.randint(0, 100) for _ in range(40)]

In [53]:
type(lista)

list

In [54]:
def par(lista):
    par = list()
    npar = list()
    for i in num:
        if i%2==0:
            par.append(i)
        else:
            npar.append(i)
    return par,npar

In [55]:
r = par(lista)

In [56]:
impar = len(r[1])
impar

10

In [57]:
par = len(r[0])
par

10

In [58]:
par = r[0]
impar = r[1]

In [59]:
def orden(lista,orden):
    
    if orden == True: # Mayor a Menor
        for i in range(len(lista)-1,0,-1):
            for j in range(i):
                if lista[j]>lista[j+1]:
                    temp = lista[j]
                    lista[j] = lista[j+1]
                    lista[j+1] = temp
                    
    if orden == False: # Menor a Mayor
        for i in range(len(lista)-1,0,-1):
            for j in range(i):
                if lista[j]<lista[j+1]:
                    temp = lista[j]
                    lista[j] = lista[j+1]
                    lista[j+1] = temp

In [60]:
orden(par,True)
par

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [61]:
orden(impar,False)
impar

[19, 17, 15, 13, 11, 9, 7, 5, 3, 1]

### Diccionarios

In [62]:
dic = [
    {'nombre':'Rodolfo','edad':35},
    {'nombre':'Emilio','edad':5},
    {'nombre':'Brenda','edad':15},
    {'nombre':'Ivan','edad':18},
    {'nombre':'Diana','edad':24},
    {'nombre':'Hector','edad':69}
]

In [63]:
lista = list()
for i in range(0,len(dic)):
    lista.append(dic[i]['edad'])

In [64]:
lista

[35, 5, 15, 18, 24, 69]

In [65]:
orden(lista,False)
lista

[69, 35, 24, 18, 15, 5]

In [66]:
for i in range(0,len(dic)):
    print(dic[i]['nombre'])

Rodolfo
Emilio
Brenda
Ivan
Diana
Hector

In [67]:
def agregarDic(listaDic,valorDiccionario):
    listaDic.append(valorDiccionario)

In [68]:
agregarDic(dic,{'nombre':'tezt','edad':12})

In [69]:
dic

[{'nombre': 'Rodolfo', 'edad': 35},
 {'nombre': 'Emilio', 'edad': 5},
 {'nombre': 'Brenda', 'edad': 15},
 {'nombre': 'Ivan', 'edad': 18},
 {'nombre': 'Diana', 'edad': 24},
 {'nombre': 'Hector', 'edad': 69},
 {'nombre': 'tezt', 'edad': 12}]

In [70]:
agregarDic(dic,{'nombre':'Estefania Torres','edad':28})

In [71]:
dic

[{'nombre': 'Rodolfo', 'edad': 35},
 {'nombre': 'Emilio', 'edad': 5},
 {'nombre': 'Brenda', 'edad': 15},
 {'nombre': 'Ivan', 'edad': 18},
 {'nombre': 'Diana', 'edad': 24},
 {'nombre': 'Hector', 'edad': 69},
 {'nombre': 'tezt', 'edad': 12},
 {'nombre': 'Estefania Torres', 'edad': 28}]

#### Sets

* Crea un set con 100 numeros aleatorios enteros del 1 al 25.

In [79]:
s = set([random.randint(0, 25) for _ in range(100)])

In [80]:
l = [random.randint(0, 25) for _ in range(100)]

* No se puede generar un set con 100 numeros aletorios debido a que el set no agrega numeros repetidos

In [81]:
len(s)

24

In [82]:
len(l)

100

In [86]:
l = [random.randint(1, 10) for _ in range(5)]
l

[10, 7, 7, 6, 10]

In [87]:
set(l)

{6, 7, 10}